<a href="https://colab.research.google.com/github/helijus/trabalho-banco/blob/main/TrabalhoInferencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #manipulação de dados em formato de dataframe
import numpy as np #biblioteca para operações matemáticas multidimensionais
import seaborn as sns #biblioteca de visualização de informações estatísticas
import matplotlib.pyplot as plt #biblioteca de visualização de dados
from scipy import stats
from google.colab import drive

In [2]:
drive.mount('/content/drive')

# Caminho do diretório escolhido
path = "/content/drive/MyDrive/Aulas Anisio"

Mounted at /content/drive

In [3]:
# Leitura do arquivo
df_militares = pd.read_csv(path + '/age_dataset.csv', sep=',')

df_militares = df_militares.dropna()

# Mostrando as 10 primeiras linhas
df_militares.head(10)

,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799.0,natural causes,67.0
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
2,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,homicide,56.0
5,Q260,Jean-François Champollion,French classical scholar,Male,Kingdom of France; First French Empire,Egyptologist,1790,1832.0,natural causes,42.0
7,Q296,Claude Monet,French impressionist painter (1840-1926),Male,France,Artist,1840,1926.0,natural causes,86.0
10,Q303,Elvis Presley,American singer and actor (1935–1977),Male,United States of America,Artist,1935,1977.0,natural causes,42.0
13,Q346,Louis IX of France,king of France,Male,France,Ruler,1214,1270.0,natural causes,56.0
14,Q352,Adolf Hitler,"Austrian-born German politician, chancellor an...",Male,Nazi Germany; Austria-Hungary; Weimar Republic...,Statesperson,1889,1945.0,suicide,56.0
17,Q368,Augusto Pinochet,"General, politician of Chile (1915-2006)",Male,Chile,Politician,1915,2006.0,natural causes,91.0
20,Q407,Linda Lovelace,"American pornographic actress, later anti-porn...",Female,United States of America,Artist,1949,2002.0,accident,53.0

## 1. Escolha das Váriáveis e Motivo:

  **Profissão:** Militar

  **Genêro:** Feminino (mais foco) e Masculino

  **Motivo**: Analisar se mulheres que possuem cargos militares tem vida mais longa que homens que pertencem a cargos militares.

##2. Análise Estatística Descritiva


*   **Distribuição dos dados:**

####**Hipótese exploratória:** Homens que pertencem a cargos militares tendem a morrer mais novos que mulheres desses cargos.

####**Hipótese usando tabelas**: Criação de tabelas para comparação dos dados e apoio na hipótese exploratória.

####Legendando os cargos que podem ser considerados do meio militar:

## Profissões do Meio Militar

| Profissão em Português                               | Correspondente em Inglês                              |
|-----------------------------------------------------|-------------------------------------------------------|
| Militar                                             | Military personnel                                                |
| Combatente | Resistance fighter             |
| Oficial                                         | Official                                                |
|
Combatente da resistência francesa                             | French resistance fighter |
| Combatente da Força Aérea                     | Air force officer                              |

###Caculando a média, moda e mediana da idade de morte (por enquanto de todos os registros, mas preciso contar somente a idade de morte do pessoal militar)

In [7]:
df_militares['Gender'].describe()

count     45828
unique        8
top        Male
freq      38476
Name: Gender, dtype: object

In [ ]:
militar_professions = [
    "Military personnel",
    "Resistance fighter",
    "Official",
    "Air force officer",
    "French resistance fighter"
]

In [ ]:
militar = df[df['Occupation'].isin(militar_professions)]

militar.head(30)

NameError: name 'df' is not defined


O correto seria tirar a media de idade baseado no vetor df_militares, já que possui apenas os cargos militares.

In [ ]:
moda = stats.mode(df_militares['Age of death'])

print(f"A moda é: {moda}")

media = df_militares['Age of death'].mean()

print(f"A média é: {media}")

mediana = df_militares['Age of death'].median()

print(f"A mediana é: {mediana}")

A moda é: ModeResult(mode=67.0, count=950)
A média é: 59.50820459107969
A mediana é: 61.0